# Dependency directories
node_modules/

# Version control
.git/

# Log files
*.log
npm-debug.log*

# Docker files
Dockerfile
docker-compose.yml

# Environment secrets (Best practice for Enterprise Architecture)
.env